<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Home Tab -->
    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home" hidden="{{tabOnUserType.home}}">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>

    <!-- Ingredients Tab -->
    <ion-tab title="Ingredients" icon-off="ion-ios-nutrition-outline" icon-on="ion-ios-nutrition" href="#/tab/ingredients" hidden="{{tabOnUserType.ingredients}}">
        <ion-nav-view name="ingredients"></ion-nav-view>
    </ion-tab>

    <!-- Recipes Tab -->
    <ion-tab title="Recipes" icon-off="ion-ios-flask-outline" icon-on="ion-ios-flask" href="#/tab/recipes" hidden="{{tabOnUserType.recipes}}">
        <ion-nav-view name="recipes"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="account"></ion-nav-view>
    </ion-tab>

</ion-tabs>