<h1>Welcome on the nourriture API !</h1>
<h2>Routes (TODO):</h2>

<h4>/signin</h4>

<h4>/signup</h4>

<h4>/signout</h4>


<!-- ADD RECIPE -->
<h4>/recipe/add (Done) POST</h4>
Parameters POST:
<li>name (char, maxLength = 100)</li>
<li>description (char, maxLength = 254) <i>optional</i></li>
<li>ingredient (array, ex : [1, 2, 3, 42])</li>
<br/>
Response :
<li>Success :</li>
<pre>
{
	"msg": "success",
	"id": 23
}
</pre>
<li>Error :</li>
<pre>
{
	"msg": "error"
}
</pre>


<!-- DELETE RECIPE -->
<h4>/recipe/delete (Done)</h4>
Parameters POST:
<li>id (integer)</li>
Response :
<li>Success :</li>
<pre>
{
	"msg": "success",
}
</pre>
<li>Error :</li>
<pre>
{
	"msg": "error"
}
</pre>


<!-- UPDATE RECIPE -->
<h4>/recipe/update (Done)</h4>
Parameters POST:
<li>name (char, maxLength = 100)</li>
<li>id (integer)</li>
<li>description (char, maxLength = 254) <i>optional</i></li>
<li>ingredient (array, ex : [1, 2, 3, 42])</li>
<br/>
Response :
<li>Success :</li>
<pre>
{
	"msg": "success",
	"id": 23
}
</pre>
<li>Error :</li>
<pre>
{
	"msg": "error"
}
</pre>

<!-- VIEW INGREDIENTS -->
<h4>/ingredient/view (Done) GET</h4>
<pre>
[
	{
		model: "nourriture.ingredient",
		pk: 1,
		fields: {
			description: "de bon gros oeufs !",
			name: "Egg",
			price: 1
		}
	},
	{
		model: "nourriture.ingredient",
		pk: 2,
		fields: {
			description: "De la farine ma gueule",
			name: "Flour",
			price: 3
		}
	}
]
</pre>


<!-- ADD INGREDIENT -->
<h4>/ingredient/add (Done) POST</h4>
Parameters POST:
<li>name (char, maxLength = 100)</li>
<li>description (char, maxLength = 254) <i>optional</i></li>
<li>price (integer) <i>optional</i></li>
<br/>
Response :
<li>Success :</li>
<pre>
{
	"msg": "success",
	"id": 42
}
</pre>
<li>Error :</li>
<pre>
{
	"msg": "error"
}
</pre>


<!-- DELETE INGREDIENT-->
<h4>/ingredient/delete (Done) POST</h4>
Parameters POST:
<li>id (integer)</li>
Response :
<li>Success :</li>
<pre>
{
	"msg": "success",
}
</pre>
<li>Error :</li>
<pre>
{
	"msg": "error"
}
</pre>


<!-- UPDATE INGREDIENT -->
<h4>/ingredient/update (Done) POST</h4>
Parameters POST :
<li>name (char, maxLength = 100)</li>
<li>description (char, maxLength = 254) <i>optional</i></li>
<li>price (integer) <i>optional</i></li>
<br/>
Response :
<li>Success :</li>
<pre>
{
	"msg": "success",
	"id": 42
}
</pre>
<li>Error :</li>
<pre>
{
	"msg": "error"
}
</pre>
</p>